/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .container .hero {
      width: 60%;
      text-align: center;
      margin-left: 150px;
  }

  .lessons {
    display: contents;
  }

  .lesson {
    float: left;
    width: 50%;
    margin-bottom: 50px;
  }


  /* Responsif dari form */
  
}

  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
  /* Responsif Header */
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  /* Responsif Main */
  .container .hero {
    width: 100%;
    top: 150px;
  }

  .lesson {
    width: 100%;
  }

  .submit-button{
    width: 50%;
  }
}